<header class="header page__header js-header">
  <div class="header__container container">
    <div class="header__top header-top">
      <div class="header-top__logo">
        {{>components/image no-2x=1 img="common/logo" ext="png" alt="Логотип компании"}}
      </div>

      <div class="header-top__user user-profile dropdown-box js-toggle js-header__user">
        <button class="user-profile__dropdown dropdown-box__btn js-toggle__btn">
          <span class="dropdown-box__caret">
            <svg focusable="false" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.88 3.33337L8 9.44004L14.12 3.33337L16 5.21337L8 13.2134L0 5.21337L1.88 3.33337Z"
                    fill='currentColor' />
            </svg>
          </span>
          <span class="dropdown-box__label user-profile__name">Тест Докторов</span>
        </button>
        <div class="dropdown-box__container js-toggle__container">
          <ul class="dropdown-box__container-inner">
            <li class="dropdown-box__item">
              <a href="#" class="dropdown-box__link">
                <span class="dropdown-box__icon material-icons">logout</span>
                Выход
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <nav class="header__menu header-menu js-header__menu" role="navigation">
      <div class="header-menu__nav header-nav" id="header-nav" aria-hidden="true" aria-labelledby="nav-toggle">
        <ul class="header-nav__list">
          <li class="header-nav__item{{#ifCond activeLink 'Новая заявка'}} header-nav__item--active{{/ifCond}}">
            {{#ifCond activeLink 'Новая заявка'}}
              <span class="header-nav__link">Новая заявка</span>
            {{else}}
              <a href="order.html" class="header-nav__link">Новая заявка</a>
            {{/ifCond}}
          </li>
          <li class="header-nav__item{{#ifCond activeLink 'Квитанции'}} header-nav__item--active{{/ifCond}}">
            {{#ifCond activeLink 'Квитанции'}}
              <span class="header-nav__link">Квитанции</span>
            {{else}}
              <a href="tickets.html" class="header-nav__link">Квитанции</a>
            {{/ifCond}}
          </li>
          <li class="header-nav__item{{#ifCond activeLink 'Заказы'}} header-nav__item--active{{/ifCond}}">
            {{#ifCond activeLink 'Заказы'}}
              <span class="header-nav__link">Заказы</span>
            {{else}}
              <a href="#" class="header-nav__link">Заказы</a>
            {{/ifCond}}
          </li>
          <li class="header-nav__item{{#ifCond activeLink 'Пациенты'}} header-nav__item--active{{/ifCond}}">
            {{#ifCond activeLink 'Пациенты'}}
              <span class="header-nav__link">Пациенты</span>
            {{else}}
              <a href="#" class="header-nav__link">Пациенты</a>
            {{/ifCond}}
          </li>
          <li class="header-nav__item{{#ifCond activeLink 'Отчеты'}} header-nav__item--active{{/ifCond}}">
            {{#ifCond activeLink 'Отчеты'}}
              <span class="header-nav__link">Отчеты</span>
            {{else}}
              <a href="#" class="header-nav__link">Отчеты</a>
            {{/ifCond}}
          </li>
          <li
            class="header-nav__item dropdown-box dropdown-box--hover {{#ifCond
              activeLink 'Справочники'}} header-nav__item--active{{/ifCond}}">
            {{#ifCond activeLink 'Справочники'}}
              <span class="header-nav__link dropdown-box__btn">
                <span class="dropdown-box__label">Справочники</span>
                <span class="dropdown-box__caret">
                  <svg focusable="false" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.88 3.33337L8 9.44004L14.12 3.33337L16 5.21337L8 13.2134L0 5.21337L1.88 3.33337Z"
                          fill='currentColor' />
                  </svg>
                </span>
              </span>
            {{else}}
              <a href="#" class="header-nav__link dropdown-box__btn">
                <span class="dropdown-box__label">Справочники</span>
                <span class="dropdown-box__caret">
                  <svg focusable="false" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.88 3.33337L8 9.44004L14.12 3.33337L16 5.21337L8 13.2134L0 5.21337L1.88 3.33337Z"
                          fill='currentColor' />
                  </svg>
                </span>
              </a>
            {{/ifCond}}
            <div class="dropdown-box__container">
              <ul class="dropdown-box__container-inner">
                <li class="dropdown-box__item">
                  <a href="#" class="dropdown-box__link">Ссылка</a>
                </li>
                <li class="dropdown-box__item active">
                  <span class="dropdown-box__link">Ссылка и очень длинное название</span>
                </li>
                <li class="dropdown-box__item">
                  <a href="#" class="dropdown-box__link">Ссылка</a>
                </li>
                <li class="dropdown-box__item">
                  <a href="#" class="dropdown-box__link">Ссылка</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="header-nav__item{{#ifCond activeLink 'Настройки'}} header-nav__item--active{{/ifCond}}">
            {{#ifCond activeLink 'Настройки'}}
              <span class="header-nav__link">Настройки</span>
            {{else}}
              <a href="#" class="header-nav__link">Настройки</a>
            {{/ifCond}}
          </li>
        </ul>
      </div>
      <div class="header-menu__burger">
        <button class="header-menu__burger-btn js-header__burger" id="nav-toggle" aria-expanded="false" aria-controls="header-nav">
          {{>components/mobile-menu}}
        </button>
      </div>
    </nav>
  </div>
</header>

<main class="page__content">
