<div class="form-field{{#if field-class}} {{field-class}}{{/if}}">
  <div class="form-field__container{{#if actions}} form-field__container--actions{{/if}}">
    <input class="form-field__input{{#ifCond type 'date'}} js-datepicker{{/ifCond}}" id="{{id}}" name="{{#if name}}{{name}}{{else}}{{id}}{{/if}}"
           type="{{#if type}}{{type}}{{else}}text{{/if}}" {{#if required}}required="required"{{/if}}/>
    {{#if label}} <label class="form-field__label" for="{{id}}">{{label}}</label>{{/if}}
    {{#if actions}}
      <div class="form-field__actions">
        {{> @partial-block}}
      </div>
    {{/if}}
  </div>
</div>
